 
 
//  primary color
 $color_primary: hsl(322, 100%, 66%);

//  secondary colors --

 $color_Pale-cyan: hsl(193, 100%, 96%);
 $color_Dark-cyan: hsl(192, 100%, 9%);
 $color_Grayish-blue: hsl(208, 11%, 55%);

//  neutrual colors ---
$color_black: hsl(0, 0%, 3%);
$color_white: hsl(0, 0%, 100%);
$color_lightwhite: hsla(0, 0%, 100%, 0.808)
